.navbar {
  width: 100%;
  background-color: #ffffff;
  height: 4em;
}

.navbar .navbar-brand {
  padding: 0.5em;
}

.navbar .navbar-brand .logo {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #0f4ffb;
}

.navbar .navbar-brand .title {
  display: inline-block;
  margin-left: 7px;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .container .navbar-nav .nav-item .nav-link {
  color: #303030;
  padding: 0.5em 1em;
  border-radius: 0.4em;
  font-weight: 200;
}

.navbar .container .navbar-nav .nav-item .nav-link:hover, .navbar .container .navbar-nav .nav-item .nav-link:active {
  color: #0f4ffb;
}

.navbar .container .navbar-nav .nav-item .nav-active {
  font-weight: 350;
}
