body {
    margin: 0;
    font-family: _font(family)
}

svg, img {
    width: 100%;
    height: auto;
}

// Custom SASS imports
// @import "/styles/**/*";
@import "styles/base/functions";
@import "styles/base/mixins";
@import "styles/base/vars";
@import "styles/components/banner";
@import "styles/components/navbar";
@import "styles/components/spotlight";

