h2 {
    color: _color(accent-blue);
    font-family: _font(family-heading);
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-family: _font(family-heading);
    font-size: 1.5rem;
    font-weight: 600;
}