body {
    margin: 0;
    font-family: _font(family);
    background: linear-gradient(#fff8ef, #EfE8Df);
}

h1 {
    color: _color(fg-dark);
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 600;
}

h2 {
    color: _color(fg-dark);
    font-size: clamp(35px, 8vw, 70px);
    font-weight: 500;
}

h3 {
    color: _color(fg-dark);
    font-size: clamp(25px, 8vw, 50px);
    font-weight: 400;
}

h4 {
    
    font-size: 2rem;
}

p {
    color: _color(fg-dark);
}

.image-fit {
    width: 100%;
    max-width: 600px;
}

.image-discrete-size {
    height: 200px;

    @media only screen and (min-width: 400px) {
        height: 300px;
    }

    @media only screen and (min-width: 576px) {
        height: 400px;
    }

    @media only screen and (min-width: 768px) {
        height: 500px;
    }

    @media only screen and (min-width: 992px) {
        height: 600px;
    }

}

.row-center {
    @include flex-row-center;
}

a {
    color: _color(fg-dark);

    &:hover {
        text-decoration: none;
        color: _color(accent-blue);
    }
}

.bottom-margin-1 {
    @include bottom-margin-1;
}

.bottom-margin-2 {
    @include bottom-margin-2;
}

.bottom-margin-3 {
    @include bottom-margin-3;
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.loading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}