// Duration.
// $duration: (
//     menu:					0.35s,
//     transition:				0.2s
// );

// Font.
$font: (
    family:					('Roboto', Helvetica, sans-serif),
    family-heading:			('Poppins', 'Raleway', Helvetica, sans-serif),
    family-caption:			('Montserrat', 'Raleway', Helvetica, sans-serif),
    weight:					300,
    weight-bold:			600,
    weight-heading:			200,
    weight-heading-bold:	700,
    kern-heading:			0.1em
);

@function _font($keys...) {
    @return val($font, $keys...);
}

// Color.
$color: (
    bg-light: #FFFFFF,
    bg-mid: #EEEEEE,
    bg-dark: #202020,
    bg-transparent: rgba(0,0,0,0),
    fg-light: #ffffff,
    fg-mid: #505050,
    fg-dark: #202020,
    border-dark: rgba(0, 0, 0, 0.125),
    border-light: rgba(255, 255, 255, 0.125),
    accent: rgb(96,174,251),
    accent-dark: rgb(52,125,196),
    accent-mid: rgb(96,174,251),
    accent-light: rgb(236, 245, 255)
    //accent: rgb(15, 79, 251),
);

@function _color($keys...) {
    @return val($color, $keys...);
}
