// Duration.
// $duration: (
//     menu:					0.35s,
//     transition:				0.2s
// );

// Font.
$font: (
    family:					('Roboto', Helvetica, sans-serif),
    family-heading:			('Lato', 'Roboto', Helvetica, sans-serif),
    weight:					300,
    weight-bold:			600,
    weight-heading:			200,
    weight-heading-bold:	700,
    kern-heading:			0.1em
);

@function _font($keys...) {
    @return val($font, $keys...);
}

// Color.
$color: (
    bg-light: #FFFFFF,
    bg-mid: #BBBBBB,
    bg-dark: #202020,
    bg-transparent: rgba(0,0,0,0),
    fg-light: #ffffff,
    fg-mid: #505050,
    fg-dark: #333333,
    border-dark: rgba(0, 0, 0, 0.125),
    border-light: rgba(255, 255, 255, 0.125),
    accent-blue: #3073ce,
    accent-blue-transparent: #3073ce88,
    accent-cyan: #60ddfb,
    accent-green: #50a757
    //accent: rgb(15, 79, 251),
);

@function _color($keys...) {
    @return val($color, $keys...);
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@function _grid($keys...) {
    @return val($grid-breakpoints, $keys...);
}

