$background-color: #ffffff;
$background-color2: #303030;
$font-color: #303030;
$font-color2: #ffffff;
$border-color: rgba(0,0,0,0.125);
$border-color2: rgba(255,255,255,0.125);
$accent-color: rgb(15,79,251);
$link-color: #18bfef;
