.banner {
    @include flex-row-center;
    min-height: 60vh;

    // @include media-breakpoint-up(sm) { 

    // }
    // @include media-breakpoint-up(md) { ... }
    // @include media-breakpoint-up(lg) { ... }
    // @include media-breakpoint-up(xl) { ... }
    // @include media-breakpoint-up(xxl) { ... }
    

    .banner-inner {
        padding-top: 250px;
        margin-bottom: 1em;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.intro {
    padding-top: 5.9em;
    min-height: 100vh;
    @include flex-col-center;


    .intro-inner {
        max-width: 800px;
    }
}

.image-fit {
    width: 100%;
    height: auto;
    max-width: 600px;
}

.row-center {
    @include flex-row-center;
}

.btn-special {
    background-color: transparent;
    color: _color(fg-dark);
    border: 2px solid _color(fg-dark);
    border-radius: 25px;
    transition: background-color 0.5s, color 0.5s;

    &:hover {
        background-color: _color(fg-dark);
        border: 2px solid _color(fg-dark);
        color: _color(fg-light);
    }
}