.banner {
    @include flex-row-center;
    min-height: 60vh;

    // @include media-breakpoint-up(sm) { 

    // }
    // @include media-breakpoint-up(md) { ... }
    // @include media-breakpoint-up(lg) { ... }
    // @include media-breakpoint-up(xl) { ... }
    // @include media-breakpoint-up(xxl) { ... }
    

    .banner-inner {
        padding-top: 250px;
        margin-bottom: 1em;

        img {
            width: 100%;
            height: auto;
        }
    }
}
