.banner {
    position: relative;
    height: 800px;
    @include flex-row-center;

    .background {
        position: absolute;
        top: 0;
        right: 0;
        max-height: 100%;
        max-width: 70%;
    }


    // @include media-breakpoint-up(sm) { 

    // }
    // @include media-breakpoint-up(md) { ... }
    // @include media-breakpoint-up(lg) { ... }
    // @include media-breakpoint-up(xl) { ... }
    // @include media-breakpoint-up(xxl) { ... }
    

    .banner-inner {
        position: absolute;
        top: 250px;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }

        .banner-caption {
            margin-bottom: 1em;
        }
    }
}
