.project-tile-wrapper {
    height: 75vh;
    min-height: 50vw;
}

.project-tile {
    position: relative;
    height: 90%;
    border-radius: 25px;
    transition: 0.5s;

    &:hover, &:active {
        transform: translateY(-10px);
        box-shadow: 10px 5px 5px rgba(0,0,0,0.2);
    }


    .focus-image {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 10%;
    }

    .tile-caption {
        position: absolute;
        width: 100%;
        padding: 2em;
        
        h4 {
            padding-left: 0.25em;
            font-weight: 300;
        }

        h5 {
            padding-left: 0.25em;
            font-weight: 100;
        }
    }
}

.project-page {
    padding: 3em;
    min-height: 100vh;

    .project-title {
        margin-bottom: 3em;

        h4 {
            padding-left: 0.25em;
            font-weight: 300;
        }
    
        h5 {
            padding-left: 0.25em;
            font-weight: 100;
        }
    }

    .project-image {
        @include flex-row-center;
        @include bottom-margin-2;
    }

    .project-video {
        @include flex-row-center;
        @include bottom-margin-2;
        position:relative;
        padding-bottom:56.25%;
        padding-top:30px;
        height:0;
        overflow:hidden

    }

    .project-description {
        @include bottom-margin-2;

    }
}

iframe {
    position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}